.home-layout{
  display: flex;
  .left{
    height: 100vh;
    border-right: 1px solid @border;
    .logo{
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: @theme6;
      border-bottom: 1px solid @border;
      >img{
        width: 18px;
        margin-right: 8px;
      }
    }
  }
  .right{
    flex: 1;
    .header{

      .manage-header{
        background-color: @theme7;
        height: 40px;
        border-bottom: 1px solid @border;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu-status{
          margin-left: 8px;
          font-size: 12px;
          cursor: pointer;
          margin-right: 8px;
        }
        .info{
          display: flex;
          justify-content: center;
          align-items: start;
          flex-direction: column;
          .user{
            font-size: 16px;
            cursor: pointer;
            &:hover{
              color: @theme2;
            }
          }
          .time{
            font-size: 12px;
          }
        }
      }
    }
    .manage-body{
      height: calc(100vh - 42px);
      overflow: auto; /* 当内容溢出时显示滚动条 */
    }
  }
}

.el-menu{
  border-right: none !important;
}
